body {
    font-family: "Lato", sans-serif;
    background-color: lightgray;
}

nav {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    color: #818181;
}

.logo {
    font-size: 24px;
}

.search-bar {
    width: 300px;
    height: 30px;
    border:dimgray;
    background-color: aquamarine;
    margin-left: 90px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    padding: 5px 30px 5px 5px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.search-bar::before {
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: grey;
    font-size: 14px;
}

.profile {
    font-size: 18px;
}

.sidenav {
    height:100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 0;
    bottom: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 45px;
    margin-left: 10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: orange;
}

.main {
    margin-left: 160px;
    margin-right: 200px;
    font-size: 28px; 
    padding: 0px 10px;
    display: flex; /* Added */
    flex-wrap: wrap; /* Added */
}

.Dashboard {
    margin-left: 25px;
    margin-top: 50px;
    display: flex; /* Added */
    flex-wrap: wrap; /* Added */
    margin-right: 30px;
    
}

.card {
    flex: 1;
    margin: 20px; /* Increased margin */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    height:200px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.card2 {
    flex: 1;
    margin: 2px; /* Increased margin */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 85px;
    margin-right: 10px;
}
.profile-info1{
    align-items: center;
    display: flex;
    margin-top: 50px;
    padding:10px;
    height:150px;
    border-radius: 10px;
    width:420px;
    background-color: white;
}

.card .profile,
.card2 .profile {
    margin: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info .profile {
    margin-right: 10px;
}

.card h3,
.card2 h3 {
    margin-top: 10px;
    font-size: 15px;
    color: #818181;
}

.card img,
.card2 img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .info,
.card2 .info {
    margin: 10px;
}

.address {
    margin-top: 20px;
    padding: 5px;
    position: center;
}


.sidenav-right {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    margin-left: 60px;
    margin-top: 50px;
    z-index: 1;
    margin-right: 10px;
}

.sidenav-right p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav-right h2 {
    color: #818181;
}

.balance {
    margin-top: 20px;
}

.balance p {
    margin-bottom: 5px;
}

#euro-balance,
#dollar-balance,
#pound-balance {
    font-weight: bold;
}
/*.ContibutionHistory{
    width:30%;
    margin-left: 170px;
}

*/
.table{
    margin-left: 240px;
    display: flex;
}
td,th{
    text-align: left;
    padding: 8px;
}
.table1{
    padding: 20px;
    border-radius: 10px;
    background-color: white;  
}
.table2{
    padding: 20px;
    border-radius: 10px;
    background-color: white;  
    margin-left: 20px;

}
